/*----------HEADER SOCIAL ICONS------------*/

header {
	ul {
		display: flex;
		justify-content: flex-end;
		flex-wrap: wrap;
	}

	ul.social li a {
		font-size: 2.5rem;
	}

} //end header
/*------------MAIN----------*/

main {

	/*---------COLUMN LAYOUT---------*/
	@for $i from 1 through 12 {
		$w: ($i / 12) * 100%;
		.medium-#{$i} {
			width: $w;
			float: left;
		}
	}
} //end end
